.hide-page
  position fixed
  width 100%
  height 100%
  background rgba(0, 0, 0, 0.5)
  display flex
  justify-content center
  align-items center
  .protocol-content
    position relative
    margin 0 auto
    width 600rpx
    padding 20rpx
    background #fff
    border-radius 30rpx
    display flex
    justify-content center
    align-items center
    font-size 28rpx
    flex-direction column