.input
	border-radius 30rpx
	background-color rgb(238, 238, 238)
	width 545rpx
	height 72rpx
	padding 0 30rpx
	box-sizing border-box
	.placeholder
		font-size 30rpx
		font-family "SimHei"
		color rgb(84, 83, 83)