.search-input
  position relative
  z-index 0
  height 60rpx
  box-sizing border-box
  padding-left 60rpx
  background #F5F5F5
  width 630rpx
  border-radius 100rpx
  color: #353535
  display inline-block
